# BME280 custom driver options 

# Copyright (c) 2019 Nordic Semiconductor
# SPDX-License-Identifier: Apache-2.0

menuconfig CUSTOM_BME280_DRIVER
	bool "Support for the demonstration out of tree custom BME280 driver using SPI"
	depends on SPI


if CUSTOM_BME280_DRIVER

source "subsys/logging/Kconfig.template.log_config"
# STEP 3 - Add a custom driver initialization priority

endif