/delete-node/ &storage_partition;

&boot_partition {
	reg = <0x00000000 0x13000>;
};

&slot0_partition {
	reg = <0x00013000 0x74000>;
	ranges = <0x0 0x13000 0x74000>;
};

&slot0_s_partition {
	reg = <0x0 0x3d000>;
};

&slot0_ns_partition {
	reg = <0x3d000 0x37000>;
};

&slot1_partition {
	reg = <0x00087000 0x74000>;
	ranges = <0x0 0x87000 0x74000>;
};

&slot1_s_partition {
	reg = <0x0 0x3d000>;
};

&slot1_ns_partition {
	reg = <0x3d000 0x37000>;
};

/* STEP 5.2 - Choose CDC ACM for mcumgr */
/ {
	chosen {
		zephyr,uart-mcumgr = &cdc_acm_uart0;
	};
};

/* STEP 5.1 - Configure CDC ACM */
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
