#STEP 6.2 Populate the Kconfig file for the custom driver
config CUSTOM_BME280
	bool "Custom BME280 sensor"
	depends on DT_HAS_ZEPHYR_CUSTOM_BME280_ENABLED
	select SPI
	help
	  Enable custom BME280 driver