PM_TFM_OFFSET=0x0
PM_TFM_ADDRESS=0x0
PM_TFM_END_ADDRESS=0x8000
PM_TFM_SIZE=0x8000
PM_TFM_NAME=tfm
PM_TFM_ID=0
PM_tfm_ID=PM_TFM_ID
PM_tfm_IS_ENABLED=1
PM_0_LABEL=TFM
PM_TFM_SECURE_OFFSET=0x0
PM_TFM_SECURE_ADDRESS=0x0
PM_TFM_SECURE_END_ADDRESS=0x8000
PM_TFM_SECURE_SIZE=0x8000
PM_TFM_SECURE_NAME=tfm_secure
PM_TFM_SECURE_ID=1
PM_tfm_secure_ID=PM_TFM_SECURE_ID
PM_tfm_secure_IS_ENABLED=1
PM_1_LABEL=TFM_SECURE
PM_TFM_SECURE_SPAN="tfm"
PM_APP_OFFSET=0x8000
PM_APP_ADDRESS=0x8000
PM_APP_END_ADDRESS=0x100000
PM_APP_SIZE=0xf8000
PM_APP_NAME=app
PM_APP_ID=2
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_2_LABEL=APP
PM_TFM_NONSECURE_OFFSET=0x8000
PM_TFM_NONSECURE_ADDRESS=0x8000
PM_TFM_NONSECURE_END_ADDRESS=0x100000
PM_TFM_NONSECURE_SIZE=0xf8000
PM_TFM_NONSECURE_NAME=tfm_nonsecure
PM_TFM_NONSECURE_ID=3
PM_tfm_nonsecure_ID=PM_TFM_NONSECURE_ID
PM_tfm_nonsecure_IS_ENABLED=1
PM_3_LABEL=TFM_NONSECURE
PM_TFM_NONSECURE_SPAN="app"
PM_OTP_OFFSET=0x0
PM_OTP_ADDRESS=0xff8108
PM_OTP_END_ADDRESS=0xff83fc
PM_OTP_SIZE=0x2f4
PM_OTP_NAME=otp
PM_SRAM_SECURE_OFFSET=0x0
PM_SRAM_SECURE_ADDRESS=0x20000000
PM_SRAM_SECURE_END_ADDRESS=0x20008000
PM_SRAM_SECURE_SIZE=0x8000
PM_SRAM_SECURE_NAME=sram_secure
PM_SRAM_SECURE_SPAN="tfm_sram"
PM_TFM_SRAM_OFFSET=0x0
PM_TFM_SRAM_ADDRESS=0x20000000
PM_TFM_SRAM_END_ADDRESS=0x20008000
PM_TFM_SRAM_SIZE=0x8000
PM_TFM_SRAM_NAME=tfm_sram
PM_NRF_MODEM_LIB_CTRL_OFFSET=0x8000
PM_NRF_MODEM_LIB_CTRL_ADDRESS=0x20008000
PM_NRF_MODEM_LIB_CTRL_END_ADDRESS=0x200084e8
PM_NRF_MODEM_LIB_CTRL_SIZE=0x4e8
PM_NRF_MODEM_LIB_CTRL_NAME=nrf_modem_lib_ctrl
PM_NRF_MODEM_LIB_SRAM_OFFSET=0x8000
PM_NRF_MODEM_LIB_SRAM_ADDRESS=0x20008000
PM_NRF_MODEM_LIB_SRAM_END_ADDRESS=0x2000c568
PM_NRF_MODEM_LIB_SRAM_SIZE=0x4568
PM_NRF_MODEM_LIB_SRAM_NAME=nrf_modem_lib_sram
PM_NRF_MODEM_LIB_SRAM_SPAN="nrf_modem_lib_ctrl nrf_modem_lib_tx nrf_modem_lib_rx"
PM_SRAM_NONSECURE_OFFSET=0x8000
PM_SRAM_NONSECURE_ADDRESS=0x20008000
PM_SRAM_NONSECURE_END_ADDRESS=0x20040000
PM_SRAM_NONSECURE_SIZE=0x38000
PM_SRAM_NONSECURE_NAME=sram_nonsecure
PM_SRAM_NONSECURE_SPAN="sram_primary nrf_modem_lib_ctrl nrf_modem_lib_tx nrf_modem_lib_rx"
PM_NRF_MODEM_LIB_TX_OFFSET=0x84e8
PM_NRF_MODEM_LIB_TX_ADDRESS=0x200084e8
PM_NRF_MODEM_LIB_TX_END_ADDRESS=0x2000a568
PM_NRF_MODEM_LIB_TX_SIZE=0x2080
PM_NRF_MODEM_LIB_TX_NAME=nrf_modem_lib_tx
PM_NRF_MODEM_LIB_RX_OFFSET=0xa568
PM_NRF_MODEM_LIB_RX_ADDRESS=0x2000a568
PM_NRF_MODEM_LIB_RX_END_ADDRESS=0x2000c568
PM_NRF_MODEM_LIB_RX_SIZE=0x2000
PM_NRF_MODEM_LIB_RX_NAME=nrf_modem_lib_rx
PM_SRAM_PRIMARY_OFFSET=0xc568
PM_SRAM_PRIMARY_ADDRESS=0x2000c568
PM_SRAM_PRIMARY_END_ADDRESS=0x20040000
PM_SRAM_PRIMARY_SIZE=0x33a98
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=4
PM_ALL_BY_SIZE="otp nrf_modem_lib_ctrl nrf_modem_lib_rx nrf_modem_lib_tx nrf_modem_lib_sram tfm tfm_sram sram_secure tfm_secure sram_primary sram_nonsecure app tfm_nonsecure"